<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col1" align="left">
        <tr>
          <td class="footer__main__col1__td" align="left">
            <strong>
              <!-- @echo name -->
            </strong><br />
            Engineering Leadership<br />
            e. <a href="mailto:<!-- @echo contactMail -->" target="_blank"><!-- @echo contactMail --></a>
            <!-- @echo contactSecondary -->
          </td>
        </tr>
        <tr class="gray-hr">
          <td><hr class="gray-hr"/></td>
        </tr>
        <tr>
          <!-- @todo gulp-inline-css doesn't parse align -->
          <td class="footer__main__signature" align="left">
            Get Insights, Ideas, and Inspiration on the <a class="show_as_link" href="https://www.leadsv.com/list?utm_source=signature&utm_content=c1&utm_medium=email">Lead SV List</a>.
          </td>
        </tr>
      </table>

      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col2" align="right">
        <tr>
          <!-- @todo gulp-inline-css doesn't parse align -->
          <td class="footer__main__col2__td" align="right">
            <a href="<!-- @echo website -->">
              <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__col2__td__img" width="150"/>
            </a>
          </td>
        </tr>
      </table>
    </tr>
  </table>
</td>
